.spotButton {
  display: inline-block;
  width: stretch;
  height: 55px;
  margin: 0.5em 1em 0.5em 1em;
  font-size: large;
  text-align: left;
  border: none;
  outline: none;
}

#tab-group{
  height: 100%;
}

#tab-group mat-tab-body {
  flex: 1 1 auto;
}

.message {
  margin: 0.5em;
}

.sidebarBottomRow {
  border-top: 2px solid lightgray;
}