<div>
  <div class="row">
    <div class="col-auto backButton">
      <button mat-icon-button color="primary" class="icon" (click)='onClose()'>
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div class="col title">
      <h2 class="heading">Hashtag #{{hashtag.name}}</h2>
    </div>

    <div class="col-auto spacer">
    </div>
  </div>
  <div>
    <button (click)="showSpots()">Show spots</button>
  </div>
  <div>
    <button (click)="showMessages()">Show messages</button>
  </div>

  <div *ngIf="spotsFlag"> Spots of this hashtag:
    <div *ngFor="let spot of hashtag.spotsList">
      <button mat-flat-button color="primary" (click)='goToSpot(spot)'>
        <mat-icon class="spot-icon">sports_basketball</mat-icon>
        {{spot.name}}
      </button>
    </div>
  </div>

  <div *ngIf="messagesFlag"> Messages of this hashtag:
    <ul>
      <li *ngFor="let message of hashtag.messagesList">{{ message.content }}</li>
    </ul>
  </div>
  <div *ngIf="messagesFlag || spotsFlag">
    <button (click)="hideBoth()">Hide</button>
  </div>

</div>
