<div class="inSidebar">
  <div class="sidebarTopRow">
    <div class="backButton">
      <button mat-icon-button color="primary" class="icon" (click)='onClose()'>
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="sidebarTitle">#{{hashtagName}}</div>
  </div>
  <!-- <div class="sidebarScrollableSection"> -->
  <mat-tab-group animationDuration="0ms" mat-align-tabs="center" class="sidebarScrollableSection" (selectedTabChange)="tabChanged($event)">
    <mat-tab label="{{getSpotTab()}}">

        <button *ngFor="let spot of spotList"
          class="spotButton"
          mat-flat-button
          color='primary'
          (click)='goToSpot(spot)'><mat-icon class="spot-icon">{{spot.category.icon ? spot.category.icon : "wc"}}</mat-icon>{{spot.name}}</button>
    </mat-tab>

    <mat-tab label="{{getMessageTab()}}">
      <app-message-scroll-container
        [messages]="messageList"
        [showLoadMoreButton]="!lastPage"
        (onLoadMore)="getMessages()"
        [canReact]=false
        [canDelete]=false
        [scrollDownObservable]="scrollDownObservable">
      </app-message-scroll-container>
    </mat-tab>
  </mat-tab-group>
</div>