<h3>Messages</h3>

<div class="border">
  <div class="row">
    <div class="col">
      {{message.content}}
    </div>
    <div class="col date">
      {{message.publishedAt | date:'short'}}
    </div>
    <div class="col">
      {{upvotes}}
      <button [ngStyle]="{'opacity': !alreadyUpvoted ? '0.5' : '1' }" (click)="upvote()" class="btn-primary">Upvote</button>
    </div>
    <div class="col">
      {{downvotes}}
      <button [ngStyle]="{'opacity': !alreadyDownvoted ? '0.5' : '1' }" (click)="downvote()" class="btn-danger">Downvote</button>
    </div>
  </div>
</div>
