// This is for the site layout
:host {
  flex: 0 1 auto;
}

.spacer {
  flex: 1 1 auto;
}

.header {
  font-family: Roboto, sans-serif;
  color: #FFFFFF;
}

.create {
  margin-right: 20px;
}

.create:hover {
  color: #FE3F80;
  text-decoration: none;
}

.mat-raised-button{
  text-decoration: none;
  margin: 10px;
}

.mat-toolbar {
  position: relative;
  top: 0;
  z-index: 9000;
}

.admin-button {
  margin-right: 20px;
}

#homeLink, #homeLink:hover, #homeLink:focus, #homeLink:active {
  text-decoration: none;
  color: inherit;
}
