<mat-toolbar color="primary" class="mat-elevation-z4 header">

  <a href="" id="homeLink"><span>SportyFindr</span></a>

  <span class="spacer"></span>

  <a mat-raised-button color="accent" *ngIf="!authService.isLoggedIn()"
    routerLink="/login" routerLinkActive="active">Login</a>

  <a mat-raised-button color="secondary" *ngIf="authService.isLoggedIn()"
    (click)="authService.logoutUser()" routerLink="/">Logout</a>

  <a mat-raised-button color="accent" [matMenuTriggerFor]="menu" *ngIf="authService.isLoggedIn()"
    class="nav">
    <mat-icon>perm_identity</mat-icon>
    {{this.loggedUser?.name}}
  </a>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/account">
      <mat-icon>info</mat-icon>
      <span>Account details</span>
    </button>
    <button mat-menu-item routerLink="/account/edit">
      <mat-icon>edit</mat-icon>
      <span>Edit account</span>
    </button>
    <button mat-menu-item (click)="deleteUser()">
      <mat-icon>delete</mat-icon>
      <span>Delete account</span>
    </button>
  </mat-menu>


</mat-toolbar>
