<mat-toolbar color="primary" class="mat-elevation-z4 header">

  <a href="" id="homeLink"><span>SportyFindr</span></a>

  <span class="spacer"></span>

  <a mat-raised-button color="accent" class="admin-button" *ngIf="authService.isLoggedIn()&&authService.isUserAdmin()&&this.router.url!='/user-admin'"
     routerLink="/user-admin" routerLinkActive="active">User Management</a>

  <a mat-raised-button color="accent" class="admin-button" *ngIf="authService.isLoggedIn()&&this.router.url=='/user-admin'"
     routerLink="/" routerLinkActive="active">Back to Map</a>

  <a mat-raised-button color="accent" *ngIf="!authService.isLoggedIn()"
     routerLink="/login" routerLinkActive="active">Login</a>

  <a mat-raised-button color="secondary" *ngIf="authService.isLoggedIn()"
     (click)="authService.logoutUser()" routerLink="/">Logout</a>

</mat-toolbar>

