<mat-expansion-panel (opened)="panelOpenState = true"
                     (closed)="panelOpenState = false"
                      id="filter-expansion">
  <mat-expansion-panel-header>
    <mat-panel-title id="title">
      <h2 class="noSelect">Filter</h2>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-list id="list">
    <mat-tab-group id="tabs">
      <!-- Location Filter -->
      <mat-tab label="Locations">
        <form [formGroup]="locationForm" class="locationForm">

          <!-- Category -->
          <mat-list-item class="form-item">
            <mat-form-field appearance="outline">
              <mat-label>Category</mat-label>
              <label for="CategoryLoc"></label>
              <mat-select id="CategoryLoc" formControlName="categoryId">
                <mat-option>-- None --</mat-option>
                <mat-option *ngFor="let category of categories" [value]="category?.id"
                >{{category.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </mat-list-item>

          <!-- Hashtag -->
          <mat-list-item class="form-item">
            <mat-form-field appearance="outline">
              <mat-label>Hashtag</mat-label>
              <label for="HashtagLoc"></label>
              <input id="HashtagLoc"
                     type="text"
                     matInput
                     formControlName="hashtag"
                     [matAutocomplete]="autoLocHashtag">
              <mat-autocomplete autoActiveFirstOption #autoLocHashtag="matAutocomplete">
                <mat-option *ngFor="let hashtag of filteredHashtagsLocations | async" [value]="hashtag.name">
                  {{hashtag.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </mat-list-item>

          <!-- Radius -->
          <mat-list-item id="radius-header">
            <h4><b>Distance</b></h4>
            <mat-slide-toggle (change)="toggleIncludeRadius()" formControlName="radiusEnabled" id="distance-toggle"></mat-slide-toggle>
          </mat-list-item>
          <div>
            <mat-list-item id="radius-item">
              <mat-slider
                id="radius"
                step="100"
                [min]="minDistance"
                [max]="maxDistance"
                formControlName="radius"
              ></mat-slider>
            </mat-list-item>
            <mat-list-item *ngIf="locationForm.controls.radius.enabled">
              <h4>{{locationForm.value.radius | distance}}</h4>
            </mat-list-item>
          </div>

          <div class="buttonRow">
            <button mat-stroked-button class="buttonCancel" (click)="resetLocationFilter()">Clear all <mat-icon inline=true>backspace</mat-icon></button>
            <button mat-flat-button class="buttonConfirm" color="accent" (click)="filterLoc()">Apply <mat-icon>check_circle</mat-icon></button>
          </div>

        </form>

      </mat-tab>

      <!-- Message Filter -->
      <mat-tab label="Messages">
        <form [formGroup]="messageForm" class="messageForm">

          <!-- Category -->
          <mat-list-item class="form-item">
            <mat-form-field appearance="outline">
              <mat-label>Category</mat-label>
              <label for="CategoryMes"></label>
              <mat-select id="CategoryMes" formControlName="categoryId">
                <mat-option>-- None --</mat-option>
                <mat-option *ngFor="let category of categories" [value]="category?.id"
                >{{category.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </mat-list-item>

          <!-- Hashtag -->
          <mat-list-item class="form-item">
            <mat-form-field appearance="outline">
              <mat-label>Hashtag</mat-label>
              <label for="HashtagMes"></label>
              <input id="HashtagMes"
                     type="text"
                     matInput
                     formControlName="hashtag"
                     [matAutocomplete]="autoMesHashtag">
              <mat-autocomplete autoActiveFirstOption #autoMesHashtag="matAutocomplete">
                <mat-option *ngFor="let hashtag of filteredHashtagsMessages | async" [value]="hashtag.name">
                  {{hashtag.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </mat-list-item>

          <!-- Username -->
          <mat-list-item class="form-item">
            <mat-form-field appearance="outline">
              <mat-label>Username</mat-label>
              <label for="User"></label>
              <input id="User"
                     type="text"
                     matInput
                     formControlName="user"
                     [matAutocomplete]="autoUser">
              <mat-autocomplete autoActiveFirstOption #autoUser="matAutocomplete">
                <mat-option *ngFor="let user of filteredUsers | async" [value]="user.name">
                  {{user.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </mat-list-item>


          <!-- Date -->
          <mat-list-item id="date-item">
            <mat-form-field appearance="outline">
              <mat-label>Written after</mat-label>
              <label for="Date"></label>
              <input id="Date" matInput [matDatepicker]="picker" [max]="maxDate" formControlName="time">
              <mat-datepicker-toggle id="toggle" matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </mat-list-item>

          <div class="buttonRow">
            <button mat-stroked-button class="buttonCancel" (click)="resetMessageFilter()">Clear all <mat-icon inline=true>backspace</mat-icon></button>
            <button mat-flat-button class="buttonConfirm" color="accent" (click)="filterMes()">Apply <mat-icon>check_circle</mat-icon></button>
          </div>

        </form>
      </mat-tab>

    </mat-tab-group>

  </mat-list>
</mat-expansion-panel>
