.mat-form-field {
  width: 288px;
}

.buttonCancel {
  position: absolute;
  left: 16px;
}

.buttonConfirm {
  position: absolute;
  right: 16px;
}

#category-item-loc {
  margin-top: 40px;
}

#category-item-mes {
  margin-top: 40px;
}

#hashtag-item {
  margin-top: 40px;
}

#radius{
  width: 288px;
  margin-bottom: -10px;
}

#radius-header{
  margin-top: 20px;
  margin-bottom: -20px;
}

#date-item {
  margin-top: 40px;
  margin-bottom: 21px;
}

#filter-expansion{
  z-index: 2000;
  position: fixed;
  top: 77px;
  left: 64px;
  width: 370px;
}

#title{
  position: absolute;
  top: 8px;
}

#tabs{
  margin-top: -20px;
}
