$messageColor: #d3d3d3;

.message {
  background-color: lightblue;
  margin-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 10px;
  border: 1px solid #a7a7a7;
  box-shadow: 1px 1px #888888;
  padding-bottom: 0.5em;
}

.upVoteButton {
  margin-right: 0.5em;
}

.downVoteButton {
  margin-left: 0.5em;
  margin-right: 0.5em;
}
