<div class="message">
	<div class="row">
		<div class="col">{{author}}</div>
		<div class="col text-right">{{message.publishedAt | date:'short'}}</div>
	</div>
	<div class="row">
		<div class="col">{{message.content}}</div>
	</div>
	<div class="row">
		<div class="col">
			<button type="button" class="btn btn-secondary btn-sm votingButton"><fa-icon [icon]='upVoteSymbol'></fa-icon></button>
			<button type="button" class="btn btn-secondary btn-sm votingButton"><fa-icon [icon]='downVoteSymbol'></fa-icon></button>
		</div>
		<div class="col text-right">
			<button type="button" class="btn btn-danger btn-sm"><fa-icon [icon]='deleteSymbol'></fa-icon></button>
		</div>
	</div>
</div>