<div id="messageRow">
  <div id="messageBody" class = "{{authService.currentUserEmail()==message.owner.email? 'youMessage' : 'themMessage'}}">
    <div id="titleRow">
      <div id="author">{{message.owner.name}}</div>
      <div id="date">{{message.publishedAt | messageDate}}</div>
    </div>
    <div id="contentRow">
      <app-text-with-hashtags [text]='message.content'></app-text-with-hashtags>
    </div>
    <div *ngIf="message.expirationDate != null" id="expirationWarning">
      <span id="expirationDate">here until {{message.expirationDate | messageDate}}</span>
    </div>
    <div id="bottomRow">
      <div id="ratingButtons" *ngIf="!filteredMessage">
        <button mat-icon-button class="iconButton" (click)='onUpVote()'
          [ngClass]="getUpVoteButtonClass()"><mat-icon inline=true>thumb_up</mat-icon></button>
        {{getUpvoteCountString()}}
        <button mat-icon-button class="iconButton" (click)='onDownVote()'
          [ngClass]="getDownVoteButtonClass()"><mat-icon inline=true>thumb_down</mat-icon></button>
        {{getDownVoteCountString()}}
      </div>
      <div id="deleteButton" *ngIf="!filteredMessage">
      <button mat-icon-button class="iconButton" (click)='onDelete()' *ngIf="authService.currentUserEmail()==message.owner.email||authService.isUserAdmin()">
        <mat-icon>delete</mat-icon>
      </button>
      </div>
      <div id="spotButton" *ngIf="filteredMessage">
        <button mat-icon-button class="iconButton" (click)="onSpot()">
          <mat-icon>location_on</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
