$light-text: #BEC3E1;

#titleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#messageRow {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.youMessage {
  justify-self: end;
  background-color: #4051B6;
  border-radius: 14px 14px 0 14px;
  color: #FFFFFF;
}

.themMessage {
  justify-self: start;
  background-color: #E5E5EB;
  border-radius: 14px 14px 14px 0;
  color: #222222;
}

.buttonEnabled #upVote {
  color: lightskyblue;
}

.buttonEnabled #downVote {
  color: palevioletred;
}

#messageBody {
  padding: 9px 14px;
}

#contentRow {
  margin-bottom: 1em;
}

#author {
  font-weight: 500;
  letter-spacing: 0.2px;
}

.youMessage #date {
  color: $light-text;
}

#date {
  margin-left: 1em;
}

.themMessage #date {
  color: #9B9B9B;
}

#bottomRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#ratingButtons {
  background-color: rgba($color: #000000, $alpha: 0.1);
  border-radius: 1000px;
  padding-left: 1em;
  padding-right: 1em;
}

#deleteButton {
  color: rgb(218, 68, 98);
}

.youMessage #expirationDate {
  color: $light-text;
}

.themMessage #expirationDate {
  color: #9B9B9B;
}

.buttonEnabled {
  color: lightskyblue;
}

.youMessage .buttonDisabled {
  color: lightgray;
}

.themMessage .buttonDisabled {
  color: #EFEFEF;
}
