<div class="messageList">

  <h3>Spot</h3>

  <button (click)='goBack.emit()' class="btn btn-primary btn-sm upVoteButton" type="button"
    (click)='onGoBack()'>Go back</button>

  <div *ngFor="let message of messageList" class="message">
    <app-message
      (deleteMessage)='deleteOneMessage($event)'
      [message]='message'></app-message>
  </div>

  <form [formGroup]="messageForm">
    <input formControlName="content" placeholder="New message">
    <button (click)="submitDialog()" [disabled]='!messageForm.valid' class="btn btn-primary"> Send</button>
  </form>
</div>
