<div class="row">
  <div class="col-auto backButton">
    <button mat-icon-button color="primary" class="icon" (click)='goBack.emit()' (click)='onGoBack()'>
      <mat-icon>arrow_back_ios_new</mat-icon>
    </button>
  </div>

  <div class="col title">
    <h2 class="heading">{{spot.name}}</h2>
  </div>

  <div class="col-auto menu">

    <button mat-icon-button color="primary" class="icon" [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu" xPosition="before" yPosition="below">
      <button mat-menu-item (click)="editSpot(spot.id)">
        <mat-icon>edit</mat-icon>
        <span>Edit Spot</span>
      </button>
      <button mat-menu-item (click)="deleteSpot(spot.id)">
        <mat-icon>delete</mat-icon>
        <span>Delete Spot</span>
      </button>
    </mat-menu>

  </div>
</div>

<div class="description">
  {{spot.description}}
</div>

<div class="messageArea">
  <div *ngFor="let message of messageList" class="message">
    <app-message
    (deleteMessage)='deleteOneMessage($event)'
    [message]='message'></app-message>
  </div>
</div>


<div class="row">
  <form [formGroup]="messageForm">

    <mat-form-field appearance="outline" class="messageForm">
      <mat-label>New message</mat-label>
      <label for="messages"></label>
      <input matInput formControlName="content" id="messages">
    </mat-form-field>
    <!--
    WIESO GEHT DAS LABEL NICHT HOCH?!
    -->
  </form>

  <button mat-icon-button class="sendButton" color="primary" (click)="submitDialog()">
    <mat-icon>send</mat-icon>
  </button>
</div>
