<div class="inSidebar">
  <div class="sidebarTopRow">
    <button mat-icon-button  id="backButton" color="primary" class="icon" (click)='onClose()'>
      <mat-icon>close</mat-icon>
    </button>
    <div class="sidebarTitle">Message Filter</div>
  </div>

  <div id="countMessage">Number of messages found: <span id="count">{{numberMessagesFiltered}}</span></div>

  <div #messageArea class="sidebarScrollableSection messageArea">
    <app-message-scroll-container
      [messages]="messageList"
      [showLoadMoreButton]="!lastPage"
      (onLoadMore)="loadMore()"
      [filteredMessages]=true
      [canReact]=false
      [canDelete]=false>
    </app-message-scroll-container>
  </div>
</div>