<div *ngIf='spot != null' class="inSidebar">

  <div class="sidebarTopRow">
    <button mat-icon-button id="backButton" color="primary" class="icon" (click)='onGoBack()'>
      <mat-icon>arrow_back_ios_new</mat-icon>
    </button>
    <div class="sidebarTitle">{{spot.name}}</div>
    <button mat-icon-button color="primary" class="icon" [matMenuTriggerFor]="menu"
            *ngIf="showControlItems()">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>

  <div id="infoSection">
    <app-text-with-hashtags [text]='spot.description' class="description"></app-text-with-hashtags>
    <div class="chips">
    <mat-chip-list aria-label="infos">
      <mat-chip id="category">
        {{spot.category.name}}
        <mat-icon>{{spot.category.icon}}</mat-icon>
      </mat-chip>
      <mat-chip *ngIf="spot.owner!=null" id="owner">
      {{spot.owner.name}}
      <mat-icon>person</mat-icon>
      </mat-chip>
    </mat-chip-list>
    </div>
  </div>

  <app-message-scroll-container
    [messages]="messageList"
    [showLoadMoreButton]="!lastPage"
    (loadMore)="onLoadMore()"
    (deleteMessage)="deleteOneMessage($event)">
  </app-message-scroll-container>

  <div class="sidebarBottomRow">
    <div id="logInToWriteMessages" *ngIf="!authService.isLoggedIn(); else writeMessage">
      Log in to write messages
    </div>
    <div class="inputRow">
      <div *ngIf="includeExpirationDate" id="expirationDatePicker">
        <mat-form-field>
          <input matInput placeholder="Expiration date"
                 [ngxMatDatetimePicker]="picker"
                 [(ngModel)]="expirationDate"
                 [min]="minExpirationDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #picker [showSpinners]=true [showSeconds]=false>
            <mat-icon>check</mat-icon>
          </ngx-mat-datetime-picker>
        </mat-form-field>
        <button mat-icon-button id="sendButton" color="primary"
                (click)="disableExpirationDate()" [disabled]="!includeExpirationDate">
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </div>
    <ng-template #writeMessage>
      <div class="inputRow">
        <mat-form-field appearance="outline">
          <mat-label>New message</mat-label>
          <textarea matInput #messageInput
                    id="messageInput"
                    (keydown)="keydown($event)"
                    [(ngModel)]='newMessage'
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="10"
                    autocomplete="off"></textarea>
        </mat-form-field>
        <button mat-icon-button color="primary"
                (click)="enableExpirationDate()" [disabled]="includeExpirationDate || !authService.isLoggedIn()">
          <mat-icon>alarm</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="submitDialog()" [disabled]="!authService.isLoggedIn()">
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </ng-template>
  </div>
  <mat-menu #menu="matMenu" xPosition="before" yPosition="below">
    <button mat-menu-item (click)="editSpot()">
      <mat-icon>edit</mat-icon>
      <span>Edit Spot</span>
    </button>
    <button mat-menu-item (click)="deleteSpot(spot.id)">
      <mat-icon>delete</mat-icon>
      <span>Delete Spot</span>
    </button>
  </mat-menu>
</div>
