<div *ngIf='spot != null' class="inSidebar">

  <div class="sidebarTopRow">
    <button mat-icon-button  class="backButton" color="primary" class="icon" (click)='goBack.emit()' (click)='onGoBack()'>
      <mat-icon>arrow_back_ios_new</mat-icon>
    </button>
    <h2>{{spot.name}}</h2>
    <button mat-icon-button color="primary" class="icon" [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>

  <div class="description">
    <h3>{{spot.category.name}}</h3>
    <app-text-with-hashtags [text]='spot.description'></app-text-with-hashtags>
  </div>

  <div #messageArea class="sidebarScrollableSection messageArea">
    <div *ngFor="let message of messageList" class="message">
      <app-message
      (deleteMessage)='deleteOneMessage($event)'
      [message]='message'></app-message>
    </div>
  </div>

  <div class="sidebarBottomRow messageWritingRow">
    <mat-form-field appearance="outline">
      <mat-label>New message</mat-label>
      <input matInput #messageInput (keydown.enter)="submitDialog()" [(ngModel)]='newMessage' id="messages" autocomplete="off">
    </mat-form-field>  
    <button mat-icon-button id="sendButton" color="primary" (click)="submitDialog()">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>

<mat-menu #menu="matMenu" xPosition="before" yPosition="below">
  <button mat-menu-item (click)="editSpot(spot.id)">
    <mat-icon>edit</mat-icon>
    <span>Edit Spot</span>
  </button>
  <button mat-menu-item (click)="deleteSpot(spot.id)">
    <mat-icon>delete</mat-icon>
    <span>Delete Spot</span>
  </button>
</mat-menu>