mat-form-field {
  margin-bottom: -1.25em;
  flex-grow: 1;
}

.message {
  margin: 0.5em;
}

.sidebarBottomRow {
  border-top: 1px solid lightgrey;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

.inputRow {
  display: flex;
  align-items: center;
  justify-content: stretch;
}

.sidebarScrollableSection {
  border-top: 1px solid lightgrey;
}

cdk-virtual-scroll-viewport {
  flex: 1 1 auto;
}

#messageInput {
  resize: none;
}

#infoSection {
  max-height: 60%;
}

#categorySpan {
  font-weight: bold;
  display: inline;
}

#ownerSpan {
  font-weight: bold;
  display: inline;
}
