.messageArea {
	max-height: 75%;
	overflow-y: auto;
}

/*
.writingInput {
	display: sticky;
}

 */

.title {
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

.heading {
  margin-top: 5px;
  vertical-align: middle;
}

.icon {
  vertical-align: middle;
  border: none;
  outline: none;
  display: inline;
}

.description {
  margin-top: -16px;
  margin-bottom: 20px;
  text-align: center;
  color: darkgray;
}

.mat-menu-item {
  border: none;
  outline: none;
}

.backButton {
  padding:0
}

.menu {
  padding-right: 16px;
  padding-left: 0;
}

.row {
  margin-left: 0;
}

.messageForm {
  width: 310px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.sendButton {
  width: 50px;
  height: 50px;
  margin-top: 5px;
  position: absolute;
  bottom: 23px;
  right: 0;
  border: none;
  outline: none;
}
