.hashtag {
  color: #f338a5; // TODO: make this prettier
  cursor: pointer;
}

.textArea {
  white-space: pre-wrap; // to keep new line characters in the text
  word-break: normal;
  overflow-wrap: anywhere;
}

.lineClamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

#showButton {
  display: sticky;
  text-align: center;
}