@import "src/app/app.variables";

#mapSidebar {
  position: fixed;
  pointer-events: none;

  top: 64px;
  @media (max-width: 599px) {
    top: 56px;
  }
  bottom: 0;
  width: $sidebarWidth;
}

#mapSidebar > * {
  pointer-events: all;
}

.active {
  right: 0;
  transition: right $sidebarTransitionTime;
  transition-timing-function: $sidebarTransitionFunction;
}

.inactive {
  right: -$sidebarWidth;
  transition: right $sidebarTransitionTime;
  transition-timing-function: $sidebarTransitionFunction;
}

.sidebarContent {
  box-sizing: border-box;
  padding: 10px;
  width: $sidebarWidth;
  height: 100%;
  border-left: 2px solid lightgray;
}
