var SidebarActionType = require('../../services/sidebar-action.service').SidebarActionType;
<div [ngClass]="active?'active':'inactive'" class="map-sidebar" id="sidebar-right">
  <button (click)="toggleActive()"
          class="sidebar-handle"
  >
    {{ active ? "Close" : "Open" }}
  </button>
  <div [ngSwitch]="actionType" class="sidebar-content">
    <div *ngSwitchCase="actionTypeEnum.CreateLocSpot">
      <app-create-new-location-and-spot></app-create-new-location-and-spot>
    </div>
    <div *ngSwitchCase="actionTypeEnum.ShowSpotsLoc">
      <app-view-spots></app-view-spots>
    </div>
    <div *ngSwitchCase="actionTypeEnum.Success">
      !!!SUCCESS!!!
    </div>
    <div *ngSwitchCase="actionTypeEnum.Cancelled">
      )-: CANCELLED :-(
    </div>
    <div *ngSwitchCase="actionTypeEnum.Cancelled">
      <app-spot-messages ></app-spot-messages>
    </div>
  </div>
</div>
