<div class="inSidebar">
  <div class="sidebarTopRow">
    <button mat-icon-button color="primary" (click)='onClose()'>
      <mat-icon>close</mat-icon>
    </button>

    <div class="sidebarTitle">Spots</div>
  </div>

  <div class="sidebarScrollableSection">
    <button *ngFor="let spot of spots"
      class="spotButton"
      mat-flat-button
      color="primary"
      (click)='onSelectedSpot(spot)'><mat-icon class="spot-icon">sports_basketball</mat-icon>{{spot.name}}</button>
  </div>
</div>

<button id="addButton" mat-fab color="accent" (click)="onCreateSpot()">
  <mat-icon>add</mat-icon>
</button>
