<div class="row">
  <div class="col-auto backButton">
    <button mat-icon-button color="primary" class="icon" (click)='onClose()'>
      <mat-icon>arrow_back_ios_new</mat-icon>
    </button>
  </div>

  <div class="col title">
    <h2 class="heading">Spots</h2>
  </div>

  <div class="col-auto spacer">
  </div>
</div>

<div *ngFor="let spot of spots">
  <button mat-flat-button color="primary" (click)='onSelectedSpot(spot)'>
    <mat-icon class="spot-icon">sports_basketball</mat-icon>
    {{spot.name}}
  </button>
</div>

<button mat-fab color="accent" (click)="onCreateSpot()">
  <mat-icon>add</mat-icon>
</button>

