@import "src/app/app.variables";

:host {
  flex: 1 1 auto;
  box-sizing: border-box;
  display: inline-block;
  // border: 4px dotted black;
  // display: flex;
}

#wrapper {
  height: 100%;
}

#mapArea {
  height: 100%;
  flex: 1fr;
}

.sidebarActive {
  margin-right: $sidebarWidth;
  transition: margin-right $sidebarTransitionTime;
  transition-timing-function: $sidebarTransitionFunction;
}

.sidebarInactive {
  margin-right: 0;
  transition: margin-right $sidebarTransitionTime;
  transition-timing-function: $sidebarTransitionFunction;
}

#createLocationButton {
  z-index: 2000;
  position: fixed;
  bottom: 32px;
  left: 8px;
  border: none;
  outline: none;
  text-decoration: none;
}

#filter-button {
  background: white;
  position: fixed;
  top: 23px;
  left: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: none;
  outline: none;
  text-decoration: none;
}


