@import "src/app/app.variables";

.jumbotron {
  background: none
}

#map-wrapper {
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
  //margin-top: $topHeader; // spacing for the header - maybe to be removed later
}

#map-wrapper.sidebar-active {
  margin-right: $sidebarWidth;
  transition: margin-right $sidebarTransitionTime;
  transition-timing-function: $sidebarTransitionFunction;

}

#map-wrapper.sidebar-inactive {
  margin-right: 0;
  transition: margin-right $sidebarTransitionTime;
  transition-timing-function: $sidebarTransitionFunction;
}

#create-spot {
  z-index: 2000;
  position: absolute;
  bottom: 32px;
  left: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: none;
  outline: none;
  text-decoration: none;
}
