<div class="content">
  <div [ngClass]="sidebarActive?'sidebar-active':'sidebar-inactive'" id="map-wrapper">
    <app-map (mLocClicked)="onSelectedLoc($event)"></app-map>
    <div id="new-loc-new-spot">
      <a mat-raised-button color="accent" (click)="createLocationWithSpot()" id="create-spot">New Location</a>
    </div>
  </div>
  <app-map-sidebar #rightSidebar
                   (sidebarActive)="onSidebarActive($event)"
                   [visibleStart]='sidebarActive'
  ></app-map-sidebar>
</div>
