<div id="wrapper">
  <div [ngClass]="sidebarActive?'sidebarActive':'sidebarInactive'" id="mapArea">
    <app-map (mLocClicked)="onSelectedLoc($event)"></app-map>

    <a *ngIf="authService.isLoggedIn()"
       mat-raised-button
       color="accent"
       (click)="createLocationWithSpot()"
       id="createLocationButton">
      New Location</a>
  </div>

  <div id="sidebar">
    <app-map-sidebar (sidebarActive)="onSidebarActive($event)" [visibleStart]='sidebarActive'></app-map-sidebar>
  </div>

  <div id="filter">
    <app-filter-main ></app-filter-main>
  </div>

</div>
