<form class="spot-create">
  <div>
    <label for="spotCreateName">Spot Name</label>
    <input required #spotName [(ngModel)]="spot.name" id="spotCreateName" name="spotCreateName" placeholder="Spot Name"
           type="text" #nameValidation="ngModel">
  </div>
  <div>
    <label for="spotCreateDescription">Spot Description</label>
    <textarea #spotDescription [(ngModel)]="spot.description" id="spotCreateDescription" name="spotCreateDescription"
              placeholder="Spot Description" type="text"></textarea>
  </div>
  <div>
    <label for="spotCreateCategory">Spot Category</label>
    <select required #spotCategory [(ngModel)]="spot.category" id="spotCreateCategory" name="spotCategory" #categoryValidation="ngModel">
      <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>
    </select>
    <br>
    <button (click)="saveSpot()" [disabled]="nameValidation.invalid || categoryValidation.invalid">
      Create
    </button>
    <button (click)="cancel()">
      Cancel
    </button>
  </div>
</form>
