table {
  width: 100%;
}

.form-field-full-width {
  width: 100%;
}

.user-manager-margin {
  margin: 15px;
}

#role-form {
  flex: 50%;
}

#role-table {
  flex: 50%;
}

#role-content {
  display: flex;
}
