table {
  width: 100%;
}

.user-manager-box {
  padding: 30px;
}

.form-field-full-width {
  width: 100%;
}

.cancel-btn {
  margin-right: 20px;
}

#create-user {
  margin-bottom: 40px;
}

#userList {
  margin-bottom: 40px;
}

#role-form {
  flex: 50%;
}

#role-table {
  flex: 50%;
}

#role-content {
  display: flex;
}
