.create-btn{
  width: 174px;
  align-content: center;
  border: none;
  outline: none;
  text-decoration: none;
}

.cancel-btn{
  margin-right: 20px;
  width: 174px;
  align-content: center;
  border: none;
  outline: none;
  text-decoration: none;
}

.mat-form-field {
  width: 368px;
}

