<div class="inSidebar">
  <div class="sidebarTopRow">
    <button mat-icon-button id="backButton" color="primary" class="icon" (click)='onCancel()'>
      <mat-icon> {{lastLayer ? 'close' : 'arrow_back_ios_new'}}</mat-icon>
    </button>
    <div class="sidebarTitle">{{title}}</div>
  </div>


  <form [formGroup]="spotForm" class="sidebarScrollableSection">

    <!-- Name -->
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <label for="spotCreateName"></label>
      <input minlength="3" maxlength="20" matInput formControlName='name' id="spotCreateName">
      <div *ngIf="spotForm.controls.name.touched && spotForm.controls.name.errors" class="error">
        <mat-error>Must be between 3 and 20 characters!</mat-error>
      </div>
    </mat-form-field>

    <!-- Description -->
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <label for="spotCreateDescription"></label>
      <textarea matInput
                formControlName='description'
                id="spotCreateDescription"
                cdkTextareaAutosize
                cdkAutosizeMinRows="5"
                cdkAutosizeMaxRows="30"
                maxlength="500"></textarea>
      <div *ngIf="spotForm.controls.description.touched && spotForm.controls.description.errors" class="error">
        <mat-error>Must be between 1 and 500 characters!</mat-error>
      </div>
    </mat-form-field>

    <!-- Category -->
    <mat-form-field appearance="outline">
      <mat-label>Category</mat-label>
      <label for="spotCreateCategory"></label>
      <mat-select id="spotCreateCategory" formControlName="category" [compareWith]='compareCategory'>
        <mat-option *ngFor="let category of categories" [value]="category"
        >{{category.name}}</mat-option>
      </mat-select>
      <div *ngIf="spotForm.controls.category.touched && spotForm.controls.category.errors" class="error">
        <mat-error>Must not be empty!</mat-error>
      </div>
    </mat-form-field>

    <div id="buttons">
      <a mat-raised-button id="buttonCancel" class="button cancel-btn" (click)="onCancel()">Cancel</a>
      <a mat-raised-button class="button buttonConfirm create-btn" color="accent" (click)="onConfirm()"
         [disabled]="spotForm.invalid || !spotForm.dirty">{{spot == null ? 'Create' : 'Update'}}</a>
    </div>
  </form>

  <!-- <div class="sidebarBottomRow"> -->
  <!-- Buttons -->

  <!-- </div> -->
</div>
