<form [formGroup]="spotForm" class="spot-create">
  <div>
    <label for="spotCreateName">Spot Name</label>
    <input #spotName formControlName="name" id="spotCreateName" name='name' placeholder="Spot Name" type="text">
  </div>

  <div>
    <label for="spotCreateDescription">Spot Description</label>
    <textarea #spotDescription formControlName="description" id="spotCreateDescription" name="description"
              placeholder="Spot Description" type="text"></textarea>
  </div>

  <div>
    <label for="spotCreateCategory">Spot Category</label>
    <select #spotCategory formControlName="category" id="spotCreateCategory" name="category">
      <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>
    </select>

    <button (click)="saveSpot()" [disabled]="spotForm.invalid">Create</button>
    <button (click)="cancelCreateSpot()">Cancel</button>
  </div>
</form>
