/* You can add global styles to this file, and also import other style files */
@import 'assets/styles/sidebarstyles.scss';

html, body {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: whitesmoke;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// toast styles:
.toast-container {
  margin: 20px;
}

.cdk-overlay-container {
  z-index: 10000;
}
