/* You can add global styles to this file, and also import other style files */
body {
  background-color: whitesmoke;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* this hack seems to be necessary because of a missing shadow file in the leaflet library */
.leaflet-pane.leaflet-shadow-pane {
  display: none;
}
