<form class="spot-create">
  <div>
    <label for="spotCreateName">Spot Name</label>
    <input [(ngModel)]="spot.name" #spotName id="spotCreateName" name="spotCreateName" type="text" placeholder="Spot Name" />
  </div>
  <div>
    <label for="spotCreateDescription">Spot Description</label>
    <input [(ngModel)]="spot.description" #spotDescription id="spotCreateDescription" name="spotCreateDescription" type="text" placeholder="Spot Description" />
  </div>
  <div>
  <label for="spotCreateCategory">Spot Category</label>
  <select #spotCategory id="spotCreateCategory">
    <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
  </select>
    <div>
<!--
      <label type for="spotCreateLatitude">Latitude</label>
      <input [(ngModel)]="locMarker.getLatLng().lat" #locationLat type="hidden" id="spotCreateLatitude" name="spotCreateLatitude" value="{{ locMarker.getLatLng().lat }}">
      <label for="spotCreateLongitude">Longitude</label>
      <input [(ngModel)]="locMarker.getLatLng().lng" #locationLng type="hidden" id="spotCreateLongitude" name="spotCreateLongitude" value="{{ locMarker.getLatLng().lng }}">
-->
    </div>
    <button
      (click)="saveSpot()"
    >Create</button>
    <button
      (click)="cancel()"
    >Cancel</button>

  </div>
</form>
