<div class="center">
  <mat-card id="details">
    <mat-card-title class="title">
      Account Details
    </mat-card-title>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <mat-icon>person</mat-icon>
          <b>&nbsp; &nbsp; Username: &nbsp;</b>
          {{this.loggedUser?.name}}
        </mat-list-item>
        <mat-list-item>
          <mat-icon>email</mat-icon>
          <b>&nbsp; &nbsp; Email: &nbsp;</b>
          {{this.loggedUser?.email}}
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
